@media screen and (max-width: 1199px) {

	#header .login p { width: 60%; }

	#header .search { margin:20px; }
	#header .author-photo { margin-left: 20px; }

	.latest-themes .theme-list .title { width:  340px}

	/* nav-menu */
	#nav-menu .menu li { margin: 0 30px; }
	#nav-menu .menu li:after { right: -37px; }
	#nav-menu ul { width: 810px }


	/* sidebar */
	.votes { padding: 35px 20px 35px 30px; }
	.votes .title { margin-bottom: 25px; }
	.votes .question { font-size: 22px; line-height: 26px; }

	/* footer menu */
	.nav-footer ul li { margin: 0px 24px; }

	.profile-albums .photos{
		display: none;
	}
}

@media screen and (max-width: 991px) {
	#header .author-photo { display: none; }

	.shadow_mask{ height: auto; }
	#header  { margin-top: 50px; height: auto };
	#header .logo { top: 68px; }
	#header .logo img { width: 90%; margin-left: -45%; }
	#header .login { display: none }

	#header .search .mobile-title { display: block; }
	#header .search { width: 290px; margin: 10px auto 20px auto; position: relative; z-index: 20; padding: 22px 20px; }
	#header .search .form-inline { display: none; margin-top: 30px; }
	#header .search .search-area { position: relative; padding: 0; background: none; border-left: none; }
	#header .search .search-area .btn-search { width: 100%; }
	#header .search input { width: 100%; }
	#header .search .categ .bootstrap-select { width: 100%; }
	#header .search .paym .bootstrap-select  { width: 100%; }
	#header #city_search { width: 100% !important; }
	#header .search .form-group { margin-bottom: 15px; width:100% }

	/* middle content */

	.latest-themes .theme-list .title { width: 450px; padding-right: 10px; }
	.latest-themes .sort-by { margin-bottom: 0; }
	.latest-themes .sort-by a { margin-bottom: 20px; }

	#card { margin-bottom: 20px; }
	#card figure { height: 316px; overflow: hidden; }
	#card figure img { height: auto; width: 100% }

	.user-nav .logo { display: none; }
	#mobile-menu { display: block !important; }
	#nav-menu { display: none !important; }

	#header .user-nav{
		position: absolute;
	}

	/* nav footer */
	.nav-footer ul { height: auto; }
	.nav-footer ul li { line-height: 42px; }
	.nav-footer ul { padding: 10px 0; padding-left: 15px;   text-align: center;}
	.nav-footer ul li { float: none; }

	#footer .social { margin: 10px 0; }

	.profile-albums {
	  margin-top: 20px;
	  text-align: center;
	}

	.profile-albums .album {
		display: inline-block;
	}
}

@media (max-width: 768px) {
	#header .logo { display: none; }
	#header .text-banner { margin-top: 10px }

	.form-inline .form-group {
		margin-bottom: 15px !important;
	}

	/* middle content */
	.latest-themes .theme-list .title { width: 100%; margin-bottom: 15px; }

	.clndr-msg {
		margin-top: 20px;
	}
}

@media (max-width: 700px){
	.inner-nav li{
		float: none;
	}
}

@media (max-width: 500px) {
	#header .text-banner { display:none }
	.logo img { 
		width: 150px !important; 
		margin-top: 10px !important;
	}
}